h3 {font-style:italic}
p {font-size:10pt;font-weight:bold}
strong {font-style:italic}
#article1 {font-weight : bold;}
.keyword {color:rgb(186, 101, 101)} /*클래스 표현은 점으로*/
a:visited {color:black; text-decoration: none;}

/*ctrl+A --> 전체 선택*/